<html>
<head> 

	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">


	<link rel="stylesheet" href="jquery/jquery.mobile-1.4.5.min.css" />

	
		
	<link rel="stylesheet" href="css/main.css" />
	
<!-- <link rel="stylesheet" type="text/css" href="css/plugin/jquery-clockpicker.min.css"> -->

	<script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="jquery/jquery.mobile-1.4.5.min.js"></script>

	
	<script type="text/javascript" src="jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js"></script> 
	
<!-- 	<script type="text/javascript" src="jquery/jquery-clockpicker.min.js"></script>	 -->
<!-- <script type="text/javascript" src="jquery/jquery-clockpicker.js"></script>	 -->
	
	
	<script type="text/javascript" src="jquery/jquery.mobile.iscroll.js"></script>
    <script type="text/javascript" src="jquery/jquery.mobile.iscrollview.js"></script>
    <link rel="stylesheet" href="jquery/jquery.mobile.iscrollview.css"/>
    <link rel="stylesheet" href="jquery/jquery.mobile.iscrollview-pull.css"/>	


<script type="text/javascript" src="js/util.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/init.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/programs.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/genere.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/program-detail.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/ondemand.js" charset="iso-8859-1"></script>
<script type="text/javascript" src="js/channels.js" charset="iso-8859-1"></script>


	<script type="text/javascript">
			$(function() {
				$("body>[data-role='panel']").panel().trigger( "create" );

// 				$.mobile.changePage("#GENERE-PAGE");
			});
	</script>
	
	
	
</head>

	<body>


<div id="CHANNELS-GROUPS-PAGE" data-role="page" class="ui-page-active">
	<div data-role="header" data-position="fixed">
		<h1></h1>
		<a id="btPause" style="right: 115px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-pause"></a>
		<a id="btStop"  style="right: 60px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-power"></a>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-bars"></a>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-channels-groups" class="ui-nodisc-icon"></ul>	
		<script id="template-channels-groups" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" group='${_id}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${_id}</font></p>
						<p class='ui-li-aside'>${total}</p>												
					</a></li>
		</script>
	</div>
</div>

<div id="CHANNELS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a id="btIndietro" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1>Programs<br><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-channels" class="ui-nodisc-icon"></ul>	
		<script id="template-channels" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" id='${id}' data='${target}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${name}</font></p>
						<p class='ui-li-aside' style='margin-right:-30px; margin-top:-5px;'><img style="width: 80px; height: 40px" src='${logo}'></p>												
					</a></li>
		</script>
	</div>
</div>




<div id="GENERE-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a href="#CHANNELS-GROUPS-PAGE" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
		<h1>Genere<br><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-bars"></a>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-genere" class="ui-nodisc-icon"></ul>	
		<script id="template-genere" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" genere='${_id}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${_id}</font></p>
						<p class='ui-li-aside'>${total}</p>												
					</a></li>
		</script>
	</div>
</div>





<div id="PROGRAMS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a id="btIndietro" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1>Programs<br><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-programs" class="ui-nodisc-icon"></ul>	
		<script id="template-programs" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" id='${id}' file='${file}' title='${title}' description='${description}' img_big_url='${img_big_url}'  trailer_url='${trailer_url}' >					
					<a>
						{{if (img_small_url)}}<img style="width: 100%; height: 100%" src='${img_small_url}'>{{/if}}
						<p><font style="white-space:normal;font-weight:bold;">${title}</font></p>
						<p class="ui-li-desc">${name}</p>
						<p class='ui-li-aside' style='margin-right:-30px'>${starttime}</br><img src='data:image/png;base64,${channellogo}'></p>												
					</a></li>
		</script>
	</div>
</div>

<div id="PROGRAM-DETAIL-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a id="btIndietro" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1><font style="white-space:normal;font-weight:normal;"></font></h1>
		<a id="btStop" style="right: 120px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-power"></a>
		<a id="btPause" style="right: 60px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-pause"></a>
		<a id="btPlay" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-video"></a>
	</div>
	<div data-role="main" class="ui-content" style="width: auto;" data-iscroll>  
		<p id="title" style="text-shadow: none; color: white; text-align: center; font-weight:bold;"></p>
		<hr> 
		<img style="width: 100%;" id="img"/>
		<a id="trailer" target="_blank" data-role="button" data-icon="youtube">Trailer</a>   
		<hr>   
		<p id="description" style="text-shadow: none; color: white"></p>
	</div>
	 
</div>




<div id="ONDEMAND-GROUPS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a href="#HOME-PAGE" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
		<h1>Ondemand<br><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-bars"></a>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-ondemand-groups" class="ui-nodisc-icon"></ul>	
		<script id="template-ondemand-groups" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" genere='${_id}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${_id}</font></p>
						<p class='ui-li-aside'>${total}</p>												
					</a></li>
		</script>
	</div>
</div>


<div id="ONDEMAND-SUBGROUPS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a href="#ONDEMAND-GROUPS-PAGE" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-ondemand-subgroups" class="ui-nodisc-icon"></ul>	
		<script id="template-ondemand-subgroups" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" group='${_id}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${_id}</font></p>
						<p class='ui-li-aside'>${total}</p>												
					</a></li>
		</script>
	</div>
</div>

<div id="ONDEMAND-SUBGROUPS-PROGRAMS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a href="#ONDEMAND-SUBGROUPS-PAGE" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-ondemand-subgroups-programs" class="ui-nodisc-icon"></ul>	
		<script id="template-ondemand-subgroups-programs" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" file='${file}' name='${name}' description='${description}' thumbnail_url='${thumbnail_url}'  trailer_url='${trailer_url}' img_big_url='${img_big_url}'>					
					<a>
						<p><font style="white-space:normal;font-weight:bold;">${name}</font></p>
					</a></li>
		</script>
	</div>
</div>



<div id="ONDEMAND-PROGRAMS-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a id="btIndietro" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1>Programs<br><font style="white-space:normal;font-size: .7em; font-weight:normal;"></font></h1>
	</div>
	<div data-role="main" class="ui-content" style="text-align: center; width: auto;" data-iscroll>        
		<ul data-role="listview" data-inset="false" id="listview-ondemand-programs" class="ui-nodisc-icon"></ul>	
		<script id="template-ondemand-programs" type="text/x-jquery-tmpl">
					<li class="ui-nodisc-icon" file='${file}' name='${name}' description='${description}' thumbnail_url='${thumbnail_url}'  trailer_url='${trailer_url}' img_big_url='${img_big_url}'>					
					<a>
						{{if (img_small_url)}}<img style="width: 100%; height: 100%" src='${img_small_url}'>{{else}} <img style="width: 100%; height: 100%" src='${thumbnail_url}'>{{/if}}
						<p><font style="white-space:normal;font-weight:bold;">${name}</font></p>
					</a></li>
		</script>
	</div>
</div>

<div id="ONDEMAND-DETAIL-PAGE" data-role="page">
	<div data-role="header" data-position="fixed">
		<a id="btIndietro" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l"></a>
		<h1><font style="white-space:normal;font-weight:normal;"></font></h1>
		<a id="btStop" style="right: 120px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-power"></a>
		<a id="btPause" style="right: 60px" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-pause"></a>
		<a id="btPlay" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-video"></a>
	</div>
	<div data-role="main" class="ui-content" style="width: auto; padding:0px" data-iscroll>  
		<p id="title" style="text-shadow: none; color: white; text-align: center; font-weight:bold;"></p>
		<img style="width: 100%;" id="img"/>
		<div style="padding:10px"><a id="trailer" target="_blank" data-role="button" data-icon="youtube">Trailer</a></div>   
		<hr>   
		<div style="padding:10px"><p id="description" style="text-shadow: none; color: white"></p></div>
	</div>
	 
</div>

<div id="menu-panel" data-role="panel" data-position="right" data-display="overlay" data-theme="a">
	<ul data-role="listview" data-inset="false" class="ui-nodisc-icon">
		<li><a href="#CHANNELS-GROUPS-PAGE">All Channels</a></li>
		<li><a href="#GENERE-PAGE">Live Tv</a></li>
		<li><a href="#ONDEMAND-GROUPS-PAGE">Ondemand Tv</a></li>
	</ul>
</div> 
	
</body></html>